<div class="container">
    <mat-form-field>
        <input matInput [(ngModel)]="num1" type="numbre" placeholder="Numero 1">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="num2" type="numbre" placeholder="Numero 2">
    </mat-form-field>
    <mat-radio-group name="opciones" [(ngModel)]="operacioSeleccionada">
        <mat-radio-button  *ngFor="let op of tipoOperaciones" [value]="op"  name="opciones" style="margin: 10px;">
            {{op}}
        </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button (click)="calcular()" color="primary">Calcular</button>
    <h1><p>El resultado es: {{resultado}}</p></h1>
</div>