<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!-- <h1>
      IDGS901
    </h1>
    <p>Hola mundo</p>
    <hr>
    <div>
      {{title}}
    </div>
    <hr>
    <div>El doble de 3 es:{{calcular(3)}}</div>
    <hr>
    <div>
      <b>Matricual: </b> {{alumno.matricula}}
    </div>
    <div>
      <b>Nombre: </b>{{alumno.nombre|uppercase}}
    </div>
    <div>
      <b>Edad: </b>{{alumno.edad}}
    </div>
    <div>
      <b>Edad: </b>{{alumno.fechaNacimiento|date}}
    </div>
    <div>
      <b>pago: </b>{{alumno.pago|currency}}
    </div>
    <hr>

    <br>
    <app-utl></app-utl>
    <hr>

    <br>
    <app-ievn></app-ievn>
    <hr>
    <br> -->
    
    <app-iric></app-iric>
    
  </div>
</div>